<template>
  <div v-if="false">
    <md-speed-dial class="md-bottom-right">
      <md-speed-dial-target>
        <md-icon>add</md-icon>
      </md-speed-dial-target>

      <md-speed-dial-content>
        <md-button class="md-icon-button" title="Mostrar pedidos">
          <md-icon>view_list</md-icon>
        </md-button>

        <md-button class="md-icon-button" title="Novo pedido" @click="$store.commit('novoPedidoDialog/showDialog')">
          <md-icon>note_add</md-icon>
        </md-button>
      </md-speed-dial-content>
    </md-speed-dial>
  </div>  
</template>

<script>
export default {
  data () {
    return {
      
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
