<template>
  <div>
    <!-- form escolhe tipo de sacola -->
    <md-field>
      <label for="tipo_grupo">Tipo de grupo</label>
      <md-select name="tipo_grupo" id="tipo_grupo" v-model="group.selected" @md-selected="onGroupChanged">
        <md-option v-for="group of group.class.listGroups" :key="group" :value="group">{{ group }}</md-option>
      </md-select>
    </md-field>
    <!-- end tipo de sacola -->

    <!-- form adicionar produtos ao grupo -->
    <div v-show="group.selected">
      <span class="md-body-2">Adicione produtos à {{ group.selected }}</span>

      <div class="md-layout md-alignment-center-space-between">
        <md-field class="md-layout-item md-size-50">
          <label for="nome">Nome</label>
          <md-input ref="nome" id="nome" name="nome" v-model="listItems.nome"/>
        </md-field>

        <md-field class="md-layout-item md-size-30">
          <label for="quantidade">Quantidade</label>
          <md-input id="quantidade" name="quantidade" type="number" min="1" max="100" v-model="listItems.quantidade"/>
        </md-field>

        <div class="md-layout-item md-size-10">
          <md-button class="md-icon-button md-primary" @click="addProductOnGroup">
            <md-icon>add</md-icon>
          </md-button>
        </div>
      </div>

      <!-- botão salvar -->
      <div class="md-layout md-alignment-center-right">
        <md-button class="md-flat button-save-group" @click="salvarGrupo">Salvar {{ group.selected }}</md-button>
      </div>
      <!-- end botão salvar -->
      <!-- end adicionar produto -->
    </div>

    <!-- lista de produto já adicionados -->
    <div v-show="group.list.length && group.list[0].group.listItems.length">
      <md-list class="md-double-line" v-for="(sacola, indexSacola) of group.list" :key="sacola.id">
        <md-subheader>
          {{ sacola.group.type }}
          <span @click="removeGroup(indexSacola)">
            <md-icon class="md-accent icon-remove-group">remove</md-icon>
          </span>
        </md-subheader>
        <md-list-item v-for="(item, indexItem) of sacola.group.listItems" :key="item.name">
          <md-icon class="list-icon">assignment_turned_in</md-icon>

          <div class="md-list-item-text">
            <span>{{ item.name }}</span>
            <span>Nome</span>
          </div>

          <div class="md-list-item-text">
            <span>{{ item.quantity }}</span>
            <span>Quantidade</span>
          </div>

          <md-button class="md-icon-button md-list-action list-button-action-remove" @click="removeItemFromGroupProduct(indexSacola, indexItem)">
            <md-icon>remove</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
    <!-- end produtos já adicionados -->

    <!--botão ir para o próximo passo-->
    <!--&& group.list[0].group.products.length-->
    <div class="md-layout md-alignment-center-right" v-show="group.list.length && group.list[0].group.listItems.length">
      <p v-if="self.form.listGroups.length">Grupos salvos: {{ self.form.listGroups.length }}</p>
      <md-button class="md-flat md-primary" @click="salvarPedido">Salvar itens do pedido</md-button>
    </div>
    <!--end bottão ir para o proximo passo-->
  </div>
</template>

<script>
import Group from './../../models/Group'
import Product from './../../models/Product'

export default {
  props: ['self'],
  data: () => ({
    form: {},
    disabledForm: true,
    group: {
      class: Group,
      selected: null,
      list: [],
      currentId: 0
    },
    listItems: {
      nome: '',
      quantidade: ''
    },
    listaGrupos: [],
    currentComponent: ''
  }),

  methods: {
    onGroupChanged (v) {
      this.group.list[this.group.currentId] = {
        id: this.group.list.length,
        group: new Group(v)
      };
    },

    addProductOnGroup () {
      let novoProduto = new Product(this.listItems.nome, this.listItems.quantidade)
      this.group.list[this.group.currentId].group.addProduct(novoProduto)

      this.listItems.nome = '';
      this.listItems.quantidade = '';

      this.$refs.nome.$el.focus();
    },

    updateCurrentId () {
      this.group.currentId = this.group.list.length > 0 ? this.group.list.length : 0
    },

    removeGroup(indexGrupo) {
      this.group.list.splice(indexGrupo, 1); // remove um grupo
      this.updateCurrentId() // atualiza o current ID
      this.resetData() // reseta os dados do formulário
    },

    removeItemFromGroupProduct (indexGrupo, indexItem) {
      let emptyProduct = false;
      this.group.list[indexGrupo].group.listItems.splice(indexItem, 1);

      this.group.list = this.group.list.map((item, index) => {
        if (index === indexGrupo) {
          item.group.listItems = this.group.list[indexGrupo].group.listItems;

          if (!item.group.listItems.length) emptyProduct = true
        }
        return item;
      });

      // caso remover o ultimo produto do grupo, apagar grupo
      if (emptyProduct) this.removeGroup(indexGrupo);

      // atualiza o currentId
      this.updateCurrentId()
    },

    resetData () {
      this.listItems.nome = ''
      this.listItems.quantidade = ''
      this.group.selected = ''
    },

    salvarGrupo () {
      this.group.currentId++;
      this.resetData()
    },

    salvarPedido () {
      // salva os dados da lista no componente pai {{ Novo Pedido Form }}
      this.self.form.listGroups = this.group.list;
      console.log(this.group.list)
    },
  },

  mounted () {
    this.currentComponent = this.self.$options._componentTag
  }
}
</script>

<style lang="scss">
  .md-menu-content.md-select-menu  {
    z-index: 10 !important;
  }
</style>

<style lang="scss" scoped>

</style>

