<template>
  <div>
    <md-button class="md-primary md-flat md-clickable" @click="calcularFrete">Calcular frete</md-button>
    <md-button :disabled="self.form.shippingPrice !== 0.00 ? false : true" class="md-primary md-flat md-clickable" @click="saveOrder">Pagar e efetivar</md-button>
    
    <!-- frete -->
    <div class="area-frete">
      <p class="md-body-2">Valor do frete:</p>
      <!-- if frete calculado -->
      <div v-if="self.form.shippingPrice !== 0.00">
        <p>{{ self.form.shippingPrice.toFixed(2) }}</p>
        <p class="md-caption">NOTA: O frete ficará gratuito durante a versão beta da plataforma.</p>
      </div>
      <!-- else -->
      <div v-else>
        <p class="alert-text md-body-1">{{ freteMessage }}</p>
      </div>
    </div>

    <!-- endereço -->
    <div class="area-endereco" v-show="false">
      <p class="md-body-2">Endereço do cliente: </p>
      <div v-if="self.form.address.street">
        <p>{{ self.form.address.street }}, {{ self.form.address.number }}</p>
        <p>{{ self.form.address.neighborhood }}, {{ self.form.address.city }} - {{ self.form.address.state }}</p>
      </div>
      <div v-else>
        <p class="alert-text md-body-1">Você não informou o endereço de entrega</p>
      </div>
    </div>


    <!-- produtos -->
    <div class="area-produtos" v-show="false">
      <p class="md-body-2">Produtos</p>
      <!-- if tem produtos -->
      <div v-if="self.form.listGroups.length">
        <md-list class="md-double-line" v-for="(sacola, indexSacola) of self.form.listGroups" :key="sacola.id">
          <md-subheader>
            {{ sacola.group.type }}
          </md-subheader>
          <md-list-item v-for="(item, indexItem) of sacola.group.listItems" :key="item.name">
            <md-icon class="list-icon">assignment_turned_in</md-icon>

            <div class="md-list-item-text">
              <span>{{ item.name }}</span>
              <span>Nome</span>
            </div>

            <div class="md-list-item-text">
              <span>{{ item.quantity }}</span>
              <span>Quantidade</span>
            </div>
          </md-list-item>
        </md-list>

      </div>
      <!-- else -->
      <div v-else>
        <p class="alert-text md-body-1">Você não informou os produtos a serem entregues</p>
      </div>
    </div>
  </div>
</template>

<script>
    import Delapp from './../../services/Delapp'
    import GMaps from './../../services/GMaps'

    export default {
      name: "finalizar-pedido",
      props: ['self'],
      data: () => ({
        freteMessage: 'Você ainda não calculou o frete',
        establishment: null
      }),
      methods: {
        calcularFrete () {
          if (!this.self.form.address.street || !this.self.form.listGroups.length) {
            this.freteMessage = 'Para calculador o frete você deve informar endereço e produtos a serem entregues.'
            return
          }

          this.freteMessage = 'Calculando frete...'
          
          let addressStart = GMaps.buildAddress(this.establishment.address)
          let addressEnd = GMaps.buildAddress(this.self.form.address)

          let uri = GMaps.calculateDistanceGenerateURI(addressStart, addressEnd)
          
          // pega distancia calculando pelo google maps
          // this.$http.get(uri)
          //   .then(data => {
          //     console.log(data)
          //   }, error => {
          //     console.log('erro no banguis: ', error)
          //   })
          
          // depois de pegar a distancia em metros usar api para calcular o valor do frete
          // setar valor de frete no objeto
          
          this.freteMessage = ''
          this.self.form.shippingPrice = 0.01

        },

        saveOrder () {
          // o estabelecimento deve ter os dados bancários já cadastrados na plataforma
          // uma vez cadastrado esconder os dados e mostrar apenas parte do numero do cartão
          // caso os dados bancários forem encontrados realizar o pagamento
          // caso contrario deixar sempre uma mensagem de alerta no topo inficando que falta
          // dados bancarios
          
          // salvar pedido
          let body = {
            shippingAddress: JSON.stringify(this.self.form.address),
            items: JSON.stringify(this.self.form.listGroups.map(item => item.group)),
            price: this.self.form.shippingPrice,
            distanceToDestine: this.self.form.distanceToDestine
          }

          console.log(body)
          this.$http.post(Delapp.URL_PATH_ESTABLISHMENT_ORDERS(this.establishment._id), body)
            .then(data => {
              console.log('resultado order save: ', data)
            })
            .catch(error => console.error('erro ao tentar salvar pedido: ', error))
          
        }
      },
      created () {
        this.establishment = this.$store.getters['backupEstablishment/backup']
      },
      mounted () {
        
      }
    }
</script>

<style scoped>
  .area-produtos,
  .area-frete,
  .area-endereco {
    margin-top: 40px;
  }

  .alert-text {
    color: orange;
    font-weight: bold;
  }
</style>
