<template>
  <div>
    <div class="area-tooltip">
      <TopoInterface></TopoInterface>
    </div>

    <div class="area-menu">
      <aside class="menu-lateral">
        <MenuInterface></MenuInterface>
      </aside>

      <section class="conteudo">
        <transition name="fade">
          <router-view></router-view>
        </transition>

        <AtalhosInterface></AtalhosInterface>
        <NovoPedidoDialog></NovoPedidoDialog>
      </section>
    </div>
  </div>  
</template>

<script>
import MenuInterface from './MenuInterface'
import TopoInterface from './TopoInterface'
import AtalhosInterface from './AtalhosInterface'
import NovoPedidoDialog from './NovoPedidoDialog'

export default {
  components: {
    MenuInterface,
    TopoInterface,
    AtalhosInterface,
    NovoPedidoDialog
  }  
}
</script>

<style lang="scss" scoped>
  .area-tooltip {
    display: block;
    position: relative;
    height: 48px; 
  }
  .area-menu {
    display: flex;
  }

  .menu-lateral {
    min-width: 265px;
    display: block;
  }


  .fade-enter-active, .fade-leave-active {
    transition-duration: .3s;
  }
  .fade-enter-active {
    transition-delay: .2s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    margin-top: 50px;
    opacity: 0;
  }
</style>
