<template>
  <div class="">
    <NovoPedidoForm></NovoPedidoForm>
  </div>
</template>

<script>

import NovoPedidoForm from './NovoPedidoForm'
export default {
  components: {
    NovoPedidoForm
  }
}
</script>

<style lang="scss" scoped>

</style>


