<template>
  <md-list class="lista">
    <md-list-item :to="{name: 'adminEstabelecimentoListarPedidos'}">
      <md-icon>move_to_inbox</md-icon>
      <span class="md-list-item-text">Pedidos</span>
    </md-list-item>

    <md-list-item class="disable-list">
      <md-icon>send</md-icon>
      <span class="md-list-item-text">Clientes</span>
    </md-list-item>

    <md-list-item class="disable-list">
      <md-icon>delete</md-icon>
      <span class="md-list-item-text">Relatórios</span>
    </md-list-item>

    <md-divider class="md-inset"></md-divider>

    <md-list-item class="disable-list">
      <md-icon>attach_money</md-icon>      
      <span class="md-list-item-text" :to="{name: 'estabelecimentoComprarCredito'}">Comprar Créditos</span>
    </md-list-item>

  </md-list>
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
  .lista {
    position: fixed;
    height: 100vh;
    width: 255px;
  }

  .disable-list {
    opacity: .5;
    cursor: not-allowed;
  }
</style>
