<template>
  <div>
    <md-dialog :md-active.sync="showdialog" class="auto-overflow-y max-height-90-percent">
      <md-dialog-title>Novo Pedido</md-dialog-title>

        <NovoPedidoForm></NovoPedidoForm>

      <md-dialog-actions>
        <md-button class="md-primary" @click="$store.commit('novoPedidoDialog/hideDialog')">Close</md-button>
        <md-button class="md-primary" @click="$store.commit('novoPedidoDialog/hideDialog')">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
import NovoPedidoForm from './NovoPedidoForm'

  export default {
    components: {
      NovoPedidoForm
    },
    data: () => ({
      clientes: [],
      clienteSelecionado: null,
    }),

    computed: {
      showdialog () {
        return this.$store.getters['novoPedidoDialog/show']
      }
    },

    mounted () {
      
    }
  }
</script>

<style lang="scss" scoped>
  .md-dialog {
    max-width: 768px;
  }

  .auto-overflow-y {
    overflow-y: auto;
    max-height: 100%;
  }

  .max-height-90-percent {
    max-height: 90%;
  }
</style>
