<template>
  <div class="novo-cliente-section">
    <form @submit.prevent="validateClient" class="md-layout md-alignment-top-space-between area-entrada">
      <md-field class="">
        <label for="nome">Nome</label>
        <md-input name="nome" id="nome" v-model="form.nome" maxlength="100"></md-input>
      </md-field>

      <md-field>
        <label for="cpf">CPF (não obrigatório)</label>
        <md-input name="cpf" id="cpf" v-model="form.cpf" @keyup="formataCpf" maxlength="14"></md-input>
      </md-field>

      <div class="md-layout md-alignment-center-right">
        <md-button></md-button>
        <md-button class="md-flat" :class="{'md-accent': showFormEndereco, 'md-primary': !showFormEndereco}" @click="showFormEndereco = !showFormEndereco">
          Salvar
        </md-button>
      </div>
    </form>

    <section class="adicionar-endereço-section">
      <div v-if="showFormEndereco">
        <h3 class="md-title">Endereço</h3>
        <CadastrarEndereco :self="this"></CadastrarEndereco>
      </div>
    </section>
  </div>
</template>

<script>
import CadastrarEndereco from './../Estabelecimento/CadastrarEndereco'
export default {
  components: {
    CadastrarEndereco
  },
  data: () => ({
    form: {
      nome: '',
      cpf: ''
    },
    clientId: null,
    showFormEndereco: false
  }),

  methods: {
    validateClient () {
      console.log(this.form)
    },
    formataCpf () {
      console.log("mostrando valor cpf: ", this.form.cpf)
      this.form.cpf = this.form.cpf
        .replace(/\D/g, '')
        .replace(/^(\d{3})(\d{3})(\d{3})(\d{2})$/, "$1.$2.$3-$4");
    }
  }
}
</script>

<style lang="scss" scoped>
.area-entrada {
  margin: 0 10px;
}
</style>
