<template>
  <md-tabs md-dynamic-height :md-active-tab="tab">
    <md-tab id="tab-1" md-label="Endereço" @click="currentTAB.current = currentTAB.steps.passOne">
      <!-- <md-button class="" @click="showFormNovoEnderecoPedido = !showFormNovoEnderecoPedido">Apenas endereço</md-button>
      <md-button class="" @click="showFormBuscarCliente = !showFormBuscarCliente">Buscar cliente</md-button>
      <md-button class="" @click="showFormNovoCliente = !showFormNovoCliente">Novo cliente</md-button> -->
      <CadastrarEndereco :self="this" />

    </md-tab>

    <md-tab id="tab-2" md-label="Produtos" @click="currentTAB.current = currentTAB.steps.passTwo">
      <CadastroProdutosForm :self="this"/>
    </md-tab>

    <md-tab id="tab-3" md-label="Finalizar" @click="currentTAB.current = currentTAB.steps.passThree">
      <FinalizaPedido :self="this" />
    </md-tab>
  </md-tabs>
</template>

<script>
import NovoClienteForm from './NovoClienteForm'
import CadastroProdutosForm from './CadastroProdutosForm'
import CadastrarEndereco from './../Estabelecimento/CadastrarEndereco'
import FinalizaPedido from './FinalizarPedido'

export default {
  components: {
    NovoClienteForm,
    CadastrarEndereco,
    CadastroProdutosForm,
    FinalizaPedido
  },
  data: () => ({
    showFormBuscarCliente: false,
    showFormNovoCliente: false,
    showFormNovoEnderecoPedido: false,
    form: {
      address: {},
      listGroups: [],
      shippingPrice: 0.00,
      distanceToDestine: 1500 // metros
    },
    currentTAB: {
      steps: {
        passOne: 1,
        passTwo: 2,
        passThree: 3
      },
      current: 1
    },
  }),

  computed: {
    tab () {
      if (Object.keys(this.form.address).length) this.currentTAB.current = this.currentTAB.steps.passTwo
      else if (this.form.listGroups.length) this.currentTAB.current = this.currentTAB.steps.passThree
      // else this.currentTAB.current = this.currentTAB.steps.passOne
      return 'tab-' + this.currentTAB.current
    },
  }
}
</script>

<style lang="scss" scoped>

</style>
