<template>
  <md-toolbar class="md-dense md-primary topo-interface">
    <h3 class="md-title">Delapp</h3>
  </md-toolbar>
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
  .topo-interface {
    position: fixed;
  }
</style>
