<template>
  <div>
    <!--app toolbar-->
    <md-toolbar class="md-dense">
      <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
        <md-icon>menu</md-icon>
      </md-button>

      <h3 class="md-title">Runfox</h3>
    </md-toolbar>

    <!--app menu-->
    <Menu :menuVisible="menuVisible" ></Menu>

    <!--app content-->
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>

<script>
import Menu from './Menu'

export default {
  components: {
    Menu
  },
  data: () => ({
    permanentMenu: false, // clippedmenuVisible: false,
    menuVisible: false
  })
}
</script>

<style lang="scss" scoped>

</style>
