<template>
  <md-drawer :md-active.sync="menuVisible"> <!--:md-permanent="permanentMenu"-->
    <md-toolbar class="md-transparent" md-elevation="0">Navigation</md-toolbar>

    <md-list>
      <md-list-item>
        <md-icon>move_to_inbox</md-icon>
        <router-link :to="{name: 'adminEntregadorEntregas'}" class="md-list-item-text">Entregas</router-link>
      </md-list-item>
      <md-list-item>
        <md-icon>move_to_inbox</md-icon>
        <router-link :to="{name: 'adminEntregadorEntregaAceita'}" class="md-list-item-text">Entrega em andamento</router-link>
      </md-list-item>
    </md-list>
  </md-drawer>
</template>

<script>
    export default {
      props: ['menuVisible', 'permanentMenu'],
      data: () => ({

      }),
    }
</script>

<style lang="scss" scoped>

</style>
