<template>
  <div class="section-login">
    <div class="md-layout container">
      <div class="md-layout-item md-size-100">
        <CardBackupRemember></CardBackupRemember>
      </div>
      
      <md-content class="area-login md-elevation-1 md-layout-item md-size-100">
        <h1 class="md-display-1 text-center">DelApp</h1>
        <p class="md-subheading text-center">Cadastrar</p>

        <md-steppers md-vertical :md-active-step.sync="active">
          <md-step id="first" md-label="Dados básicos" :md-done.sync="first" :md-editable="stepEditable.first">
            <CadastrarDadosBasicosForm :self="this"></CadastrarDadosBasicosForm>
          </md-step>

          <md-step id="second" md-label="Endereço" :md-done.sync="second" :md-editable="stepEditable.second">
            <CadastrarEnderecoForm :self="this"></CadastrarEnderecoForm>
          </md-step>

          <md-step id="thirty" md-label="Contato" :md-done.sync="thirty" :md-editable="stepEditable.thirty">
            <CadastrarContato :self="this"></CadastrarContato>
          </md-step>

          <md-step id="fourth" md-label="Finalizar"></md-step>
        </md-steppers>
      </md-content>
    </div>
  </div>
</template>

<script>
import CardBackupRemember from './CardBackupRemember'
import CadastrarDadosBasicosForm from './CadastrarDadosBasicos'
import CadastrarEnderecoForm from './CadastrarEndereco'
import CadastrarContato from './CadastrarContato'

import EstablishmentConstants from "./../../contants/Establishment"

export default {
  components: {
    CadastrarDadosBasicosForm,
    CadastrarEnderecoForm,
    CadastrarContato,
    CardBackupRemember
  },

  data () {
    return {
      active: 'first',
      first: false,
      second: false,
      thirty: false,
      stepEditable: {
        first: true,
        second: true,
        thirty: true
      },
      establishment: {}
    }
  },

  methods: {
    setDone (id, index) {
      this[id] = true

      this.secondStepError = null

      if (index) {
        this.active = index
      }
    },
  },

  created () {
    
  },

  mounted () {
    
  }
}
</script>

<style lang="scss" scoped>
  .container {
    width: 500px;
    margin-top: 10px;
  }

  .section-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
  }
  .area-login {
    padding: 0 20px;
    // margin: 20px 0;
  }

  .text-center {
    text-align: center;
  }
</style>


