<template>
  <form @submit.prevent="validateAddress" class="md-layout md-alignment-top-space-between">
    <md-field class="md-layout-item md-size-45" :class="getValidationClass('cep')">
      <label for="cep">CEP</label>
      <md-input v-model="maskCep" name="cep" id="cep" autocomplete="cep"  :value="maskCep" maxlength="9"></md-input>
      <span class="md-error" v-if="!$v.form.cep.required">O CEP é requerido.</span>
      <span class="md-error" v-else-if="!$v.form.number.minLength">Complete seu CEP.</span>

    </md-field>

    <md-field class="md-layout-item md-size-45" :class="getValidationClass('number')">
      <label for="number">Número</label>
      <md-input v-model="form.number" name="number" id="number" autocomplete="cep-number" maxlength="5" type="number"></md-input>
      <span class="md-error" v-if="!$v.form.number.required">O número é requerido.</span>
      <span class="md-error" v-if="!$v.form.number.numeric">Digite apenas números.</span>
    </md-field>

    <md-field :class="getValidationClass('type_residence')">
      <label for="type_residence">Tipo de residencia</label>
      <md-select v-model="form.type_residence" name="type_residence" id="type_residence">
        <md-option value="casa">Casa</md-option>
        <md-option value="estabelecimento" selected>Estabelecimento</md-option>
      </md-select>
      <span class="md-error" v-if="!$v.form.type_residence.required">O tipo de residência é requerido.</span>
    </md-field>

    <div class="md-layout-item md-size-100" v-if="['NovoClienteForm', 'NovoPedidoForm'].indexOf(currentComponent) === -1">
      <p class="md-body-2 md-layout md-alignment-center-left">
        Geo localização
        <md-button class="md-icon-button" @click="getPosition">
          <md-icon>gps_fixed</md-icon>
        </md-button>
      </p>
      <span class="text-orange">Para buscar sua posição permita acesso a localização do seu dispositivo.</span>

      <md-progress-bar md-mode="indeterminate" v-if="this.loadPosition"></md-progress-bar>

      <div class="md-layout md-alignment-center-space-between">
        <md-field class="md-layout-item md-size-45" :class="getValidationClass('latitude')">
          <label for="latitude">Latitude</label>
          <md-input v-model="form.latitude" name="latitude" id="latitude" autocomplete="latitude"></md-input>
          <span class="md-error" v-if="!$v.form.latitude.required">A latitude é requerido.</span>
        </md-field>

        <md-field class="md-layout-item md-size-45" :class="getValidationClass('longitude')">
          <label for="longitude">Longitude</label>
          <md-input v-model="form.longitude" name="longitude" id="longitude" autocomplete="longitude"></md-input>
          <span class="md-error" v-if="!$v.form.longitude.required">A longitude é requerido.</span>
        </md-field>
      </div>
    </div>

    <md-field class="">
      <label for="complemento">Complemento</label>
      <md-input v-model="form.complement" name="complement" id="complemento" autocomplete="complemento"></md-input>
    </md-field>

    <md-field class="">
      <label for="referencia">Referencia</label>
      <md-input v-model="form.reference" name="reference" id="referencia" autocomplete="referencia"></md-input>
    </md-field>

    <md-field class="" :class="getValidationClass('street')" v-show="false">
      <label for="rua">Rua</label>
      <md-input v-model="form.street" name="street" id="rua" autocomplete="street" disabled></md-input>
      <span class="md-error" v-if="!$v.form.street.required">A rua é requerido.</span>
    </md-field>

    <md-field class="" :class="getValidationClass('neighborhood')" v-show="false">
      <label for="bairro">Bairro</label>
      <md-input v-model="form.neighborhood" name="neighborhood" id="bairro" autocomplete="bairro" disabled></md-input>
      <span class="md-error" v-if="!$v.form.neighborhood.required">O bairro é requerido.</span>
    </md-field>

    <md-field class="" :class="getValidationClass('city')" v-show="false">
      <label for="cidade">Cidade</label>
      <md-input v-model="form.city" name="city" id="cidade" autocomplete="cidade" disabled></md-input>
      <span class="md-error" v-if="!$v.form.city.required">A cidade é requerido.</span>
    </md-field>

    <md-field class="" :class="getValidationClass('state')" v-show="false">
      <label for="estado">Estado</label>
      <md-input v-model="form.state" name="state" id="estado" autocomplete="estado" disabled></md-input>
      <span class="md-error" v-if="!$v.form.state.required">O estado é requerido.</span>
    </md-field>
    
    
      <p class="md-body-2 md-layout-item md-size-100">Detalhes do endereço com base no CEP: </p>
      <p class="md-layout-item md-size-100">{{ form.street }}, {{ form.number }} - {{ form.neighborhood }} - {{ form.city }} - {{ form.state }} / {{ form.type_residence }}</p>
      <p class="md-layout-item md-size-100">{{ form.complement }}</p>
      <p class="md-layout-item md-size-100">{{ form.reference }}</p>
    

    <div class="md-layout md-alignment-center-right">
      <md-progress-spinner :md-diameter="30" v-show="loader" :md-stroke="4" md-mode="indeterminate"></md-progress-spinner>
      <md-button class="md-flat md-primary" type="submit">Salvar</md-button>
    </div>

    <div class="">

    </div>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import {
  required,
  email,
  minLength,
  maxLength,
  numeric
} from 'vuelidate/lib/validators'

import Delapp from './../../services/Delapp'

export default {
  mixins: [validationMixin],
  props: ['self'],
  data() {
    return {
      form: {
        cep: "06470-190",
        number: "222",
        street: "Rua Major Alvaro Fontes",
        neighborhood: "Engenho novo",
        city: "Barueri",
        state: "São Paulo",
        complement: "",
        reference: "",
        latitude: "",
        longitude: "",
        type_residence: "estabelecimento"
      },
      loadPosition: false,
      loader: false,
      currentComponent: null
    };
  },

  validations: {
    form: {
      cep: {
        required,
        minLength: minLength(8)
      },
      number: {
        required,
        numeric
      },
      street: {
        required
      },
      neighborhood: {
        required
      },
      city: {
        required
      },
      state: {
        required
      },
      complement: {

      },
      reference: {

      },
      latitude: {
        // required
      },
      longitude: {
        // required
      },
      type_residence: {
        required
      }
    },
  },

  computed: {
    maskCep: {
      get() {
        if (this.form.cep.length == 9) this.pesquisarCep();
        return this.form.cep;
      },
      set(newValue) {
        this.form.cep = newValue
          .replace(/\D/g, "")
          .replace(/(\d{5})(\d{3})/, "$1-$2");
      }
    }
  },

  methods: {
    pesquisarCep() {
      let url = `https://viacep.com.br/ws/${this.form.cep}/json/`;
      this.$http.get(url)
        .then(data => {
          data = data.body
          this.form.street = data.logradouro;
          this.form.neighborhood = data.bairro;
          this.form.city = data.localidade;
          this.form.state = data.uf;
          this.form.complement = data.complemento;
        },
        error => console.error("cep error: ", error))
        .catch(error => console.error("cep error: ", error))
    },

    getPosition() {
      this.loadPosition = true
      navigator.permissions.query({name:'geolocation'}).then(result => {
        if (result.state == 'granted' || result.state == 'prompt') {
          navigator.geolocation.getCurrentPosition((position, error) => {
            this.form.latitude = position.coords.latitude
            this.form.longitude = position.coords.longitude
            this.loadPosition = false
          })
        }
      })
    },

    validateAddress() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.addAddress();
      }
    },

    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },

    nextStep () {
      const notAllowNextStep = ['NovoClienteForm'];
      if (notAllowNextStep.indexOf(this.currentComponent) !== -1) return;

      this.self.stepEditable.second = false;
      this.self.setDone('second', 'thirty')
    },

    // callback ao adicionar endereço para o estabelecimento na página do produto
    callbackAddAddressToEstablishment (data) {
      this.backupEstablishment.address = data.body
      this.$store.commit('backupEstablishment/addBackup', this.backupEstablishment)
      this.nextStep()
    },

    // callback ao adicionar endereço para o cliente do estabelecimento
    callbackAddAddressClientEstablishment (data) {
      console.log("data do cadastro de endereço para cliente do estabelecimento", data)
    },

    // auxiliar para indicar qual callback adequado para o componente pai responsável
    handlerCallback (data) {
      if (this.currentComponent == 'Cadastrar') this.callbackAddAddressToEstablishment(data)
      else if (this.currentComponent == 'NovoClienteForm') this.callbackAddAddressClientEstablishment(data)
    },

    getURL () {
      if (this.currentComponent == 'NovoClienteForm') {
        // adiciona endereço do cliente ao estabelecimento
        return Delapp.URL_PATH_ESTABLISHMENT_CLIENT_ADDRESS(this.backupEstablishment._id, this.self.clientId)
      }
      else if (this.currentComponent == 'Cadastrar') {
        return Delapp.URL_PATH_ESTABLISHMENT_ADDRESS(this.backupEstablishment._id)
      }
    },

    saveAddress () {
      let URL = this.getURL()

      this.$http.post(URL, this.form)
        .then(data => {
          this.loader = false
          this.handlerCallback(data)
        },
        error => {
          this.loader = false
          console.error('erro: ', error)
        })
        .catch (error => {
          this.loader = false
          console.error('erro ao na comunicação com webservice Delapp: ', error)
          alert('Falha ao inicar comunicação com webservice Delapp')
        })
    },

    // faz a requisição para adicionar endereço para...
    addAddress() {
      this.loader = true
      if (['NovoPedidoForm'].indexOf(this.currentComponent) !== -1) {
        // hide loader
        this.loader = false
        // salva os dados do endereço no componente pai
        this.self.form.address = this.form
      } else {
        this.saveAddress()
      }
    },
  },

  mounted () {
    this.currentComponent = this.self.$options._componentTag

    this.backupEstablishment = this.$store.getters['backupEstablishment/backup']

    if (this.backupEstablishment.address && ['NovoPedidoForm'].indexOf(this.currentComponent) === -1) {
      this.nextStep()
    }
  }
};
</script>

<style lang="scss" scoped>
  $orange: #FFB300;

  .text-orange {
    color: $orange;
  }

  .background-orange {
    background-color: $orange !important;
    color: #ffffff;
    margin: 0;
  }
</style>


