<template>
  <form @submit.prevent="validateUser">
    <md-field :class="getValidationClass('nome')">
      <label for="fname">Estabelecimento</label>
      <md-input name="fname" id="fname" v-model="form.nome" autocomplete="given-name"></md-input>
      <span class="md-error" v-if="!$v.form.nome.required">O nome do estabelecimento é requerido.</span>
    </md-field>

    <md-field :class="getValidationClass('cnpj')">
      <label for="cnpj">CNPJ</label>
      <md-input name="cnpj" id="cnpj" v-model="form.cnpj" @input="validateStringCnpj" autocomplete="cnpj" maxlength="18"></md-input>
      <span class="md-error" v-if="!$v.form.cnpj.required">O CNPJ é requerido.</span>
      <span class="md-error" v-if="!$v.form.cnpj.minLength">Complete seu CNPJ.</span>
    </md-field>

    <md-field :class="getValidationClass('email')">
      <label for="email">E-mail</label>
      <md-input name="email" id="email" v-model="form.email" type="email" autocomplete="email"></md-input>
      <span class="message-info">Este e-mail será usado para autenticação.</span>
      <span class="md-error" v-if="!$v.form.email.required">O e-mail é requerido.</span>
      <span class="md-error" v-if="!$v.form.email.email">Formato de e-mail inválido.</span>
    </md-field>

    <md-field :class="getValidationClass('senha')">
      <label for="senha">Senha</label>
      <md-input name="password" id="senha" v-model="form.senha" type="password" autocomplete="password" minlength="4" maxlength="12"></md-input>
      <span class="md-error" v-if="!$v.form.senha.required">A senha é requerida.</span>
      <span class="md-error" v-if="!$v.form.senha.minLength">Necessário 4 digitos.</span>
      <span class="md-error" v-if="!$v.form.senha.maxLength">Limite de 12 digitos.</span>
    </md-field>

    <md-field :class="getValidationClass('senha_confirmation')">
      <label for="senha_confirmation">Confirmar senha</label>
      <md-input name="password_confirmation" id="senha_confirmation" v-model="form.senha_confirmation" type="password" autocomplete="password" :disabled="form.senha.length == '' ? true : false" maxlength="12"></md-input>
      <span class="md-error" v-if="form.senha.length > 0 && form.senha_confirmation !== form.senha && $v.form.senha_confirmation.minLength && $v.form.senha_confirmation.required">A confirmação de senha está diferente.</span>
      <span class="md-error" v-if="!$v.form.senha_confirmation.required">A confirmação da senha é requerida.</span>
      <span class="md-error" v-if="!$v.form.senha_confirmation.minLength">Necessário 4 digitos.</span>
      <span class="md-error" v-if="!$v.form.senha_confirmation.maxLength">Limite de 12 digitos.</span>
    </md-field>

    <md-field :class="getValidationClass('tipo')">
      <label for="tipo">Tipo</label>
      <md-select v-model="form.tipo" name="tipo" id="tipo">
        <md-option value="mercado">Mercado</md-option>
        <md-option value="pizzaria">Pizzaria</md-option>
      </md-select>
      <span class="md-error" v-if="!$v.form.tipo.required">O tipo do seu comércio é requerido</span>
    </md-field>

    <!-- horário aberto -->
    <span class="md-subheading text-open-hour" title="Horário que abre o seu estabelecimento">
      Horário aberto
      <i class="material-icons icon-alert">error</i>
    </span>

    <div class="area_hour">
      <div class="width-weight-2">
        <md-field :class="getValidationClass('hora_aberto')">
          <label for="horario_aberto_hora">Hora</label>
          <md-select v-model="form.hora_aberto" id="horario_aberto_hora" name="horario_aberto_hora">
            <md-option v-for="(hour, index) in horarios.hour" :key="index" :value="hour">{{ hour }}</md-option>
          </md-select>
          <span class="md-error" v-if="!$v.form.hora_aberto.required">Hora requerido</span>
        </md-field>
      </div>

      <div class="width-weight-2">
        <md-field :class="getValidationClass('minuto_aberto')">
          <label for="horario_aberto_minuto">Minuto</label>
          <md-select v-model="form.minuto_aberto" id="horario_aberto_minuto" name="horario_aberto_minuto">
            <md-option v-for="(minutes, index) in horarios.minutes" :key="index" :value="minutes">{{ minutes }}</md-option>
          </md-select>
          <span class="md-error" v-if="!$v.form.minuto_aberto.required">Minuto requerido</span>
        </md-field>
      </div>
    </div>

    <!-- horário fechado -->
    <span class="md-subheading text-open-hour" title="Horário que fecha o seu estabelecimento">
      Horário fechado
      <i class="material-icons icon-alert">error</i>
    </span>

    <div class="area_hour">
      <div class="width-weight-2">
        <md-field :class="getValidationClass('hora_fechado')">
          <label for="horario_fechado_hora">Hora</label>
          <md-select v-model="form.hora_fechado" id="horario_fechado_hora" name="horario_fechado_hora">
            <md-option v-for="(hour, index) in horarios.hour" :key="index" :value="hour">{{ hour }}</md-option>
          </md-select>
          <span class="md-error" v-if="!$v.form.hora_fechado.required">Hora requerido</span>
        </md-field>
      </div>

      <div class="width-weight-2">
        <md-field :class="getValidationClass('minuto_fechado')">
          <label for="horario_fechado_minuto">Minuto</label>
          <md-select v-model="form.minuto_fechado" id="horario_fechado_minuto" name="horario_fechado_minuto">
            <md-option v-for="(minutes, index) in horarios.minutes" :key="index" :value="minutes">{{ minutes }}</md-option>
          </md-select>
          <span class="md-error" v-if="!$v.form.minuto_fechado.required">Minuto requerido</span>
        </md-field>
      </div>
    </div>

    <div class="area-actions md-layout md-alignment-center-right">
      <md-progress-spinner :md-diameter="30" v-show="loader" :md-stroke="4" md-mode="indeterminate"></md-progress-spinner>
      <md-button @click="loader = !loader" class="md-primary" type="submit">Salvar</md-button>
    </div>

    <div class="area-message-error-api" v-if="errorApi">
      <ul>
        <li v-for="key of Object.keys(errorApi)" :key="key">{{ errorApi[key][0] }}</li>
      </ul>
    </div>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import {
  required,
  email,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'

import Delapp from './../../services/Delapp'

import EstablishmentConstants from './../../contants/Establishment'

export default {
  mixins: [validationMixin],
  props: ['self'],
  data () {
    return {
      form: {
        nome: "Alvorada",
        cnpj: "12.312.313/1231-23",
        email: "alvorada@email.com",
        senha: "1234",
        senha_confirmation: "1234",
        tipo: "mercado",
        hora_aberto: "10",
        minuto_aberto: "00",
        hora_fechado: "20",
        minuto_fechado: "30"
      },
      horarios: {
        hour: [],
        minutes: []
      },
      senha_confirmation: {
        notEqual: false
      },
      loader: false,
      errorApi: []
    }
  },

  validations: {
    form: {
      nome: {
        required
      },
      cnpj: {
        required,
        minLength: minLength(18)
      },
      email: {
        required,
        email
      },
      senha: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(12)
      },
      senha_confirmation: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(12)
      },
      tipo: {
        required
      },
      hora_aberto: {
        required
      },
      minuto_aberto: {
        required
      },
      hora_fechado: {
        required
      },
      minuto_fechado: {
        required
      }
    }
  },

  methods: {
    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {

        // quando é senha_confirmation tem uma condição a mais, por isso o if aqui
        if (fieldName == 'senha_confirmation') {
          if (this.form.senha.length > 0 && this.form.senha_confirmation !== this.form.senha) this.senha_confirmation.notEqual = true
          else this.senha_confirmation.notEqual = false

          return {
            'md-invalid': this.form.senha.length > 0 && this.form.senha_confirmation !== this.form.senha && field.$dirty
          }

        } else {

          return {
            'md-invalid': field.$invalid && field.$dirty
          }

        }
      }
    },

    validateUser () {
      this.$v.$touch()

      if (!this.$v.$invalid && !this.senha_confirmation.notEqual) {
        this.createEstablishment()
      }
    },

    nextStep () {
      this.self.stepEditable.first = false
      this.self.setDone('first', 'second')
    },
    
    createEstablishment () {
      this.form.horario_aberto = `${this.form.hora_aberto}:${this.form.minuto_aberto}`
      this.form.horario_fechado = `${this.form.hora_fechado}:${this.form.minuto_fechado}`
        
      this.$http.post(Delapp.URL_PATH_ESTABLISHMENT, this.form)
        .then(data => {
          this.$store.commit('backupEstablishment/addBackup', data.body)
          this.loader = false
          this.nextStep()
        },
        
        error => {
          this.loader = false
          this.errorApi = error.body.errors
        })
    },

    // validate cnpj string
    validateStringCnpj () {
      this.form.cnpj = this.form.cnpj
        .replace(/\D/g, '')
        .replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5");
    },

    generateHours () {
      this.horarios.hour;
      this.horarios.minutes;
      for (let i = 0; i < 24; i++) this.horarios.hour.push((i < 10 ? "0" : "") + i)
      for (let i = 0; i < 60; i += 5) this.horarios.minutes.push((i < 10 ? "0" : "") + i)
    }
  },
  mounted () {
    this.generateHours();

    if (this.$store.getters['backupEstablishment/backup']) {
      this.nextStep()
    } 
  }
}
</script>

<style lang="scss" scoped>
.message-info {
    height: 20px;
    position: absolute;
    bottom: -22px;
    right: 0;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
  }

  // area open hour
  .text-open-hour {
    display: block;
    margin-top: 40px;
  }

  .area_hour {
    display: flex;
    justify-content: space-around;
  }

  .width-weight-2 {
    width: 45%;
    overflow: hidden;
  }

  .icon-alert {
    font-size: 14pt;
    color: #FFB300;
  }

  .area-actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    button {
      margin: 0;
    }    
  }
</style>


