<template>
  <form @submit.prevent="validateContact" class="md-layout md-alignment-center-space-between">
    <md-field class="md-layout-item md-size-60" :class="getValidationClass('celular')">
      <label for="celular">Celular</label>
      <md-input v-model="form.celular" @keyup="validateTel" name="celular" id="celular" type="text" maxlength="14"></md-input>
      <span class="md-error" v-if="!$v.form.celular.required">O celular é requerido.</span>
    </md-field>

    <md-checkbox class="md-layout-item md-size-30 md-layout md-alignment-center-right" value="1" v-model="form.whatsapp">Whatsapp</md-checkbox>

    <div class="md-layout md-alignment-center-right">
      <md-button class="md-flat md-primary" type="submit">Salvar</md-button>
    </div>
  </form>  
</template>

<script>
import { validationMixin } from 'vuelidate'
import {
  required,
  email,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  data () {
    return {
      form: {
        celular: ""
      }
    }
  },

  validations: {
    form: {
      celular: {
        required
      }
    }
  },

  methods: {
    validateTel () {
      this.form.celular = this.form.celular
        .replace(/\D/g, '')
        .replace(/(\d{2})(\d{4,5})(\d{4})/g, "($1)$2-$3")
    },

    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },

    validateContact () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.addContact()
      }
    },

    addContact () {
      alert('add contact')
    }
  },

  mounted () {
    
  }
}
</script>

<style lang="scss" scoped>
  .save-button {
    margin: 0;
  }
</style>
