<template>
  <md-card v-if="establishment !== null" class="backup-establishment md-elevation-2">
    <md-card-header>
      <md-card-header-text>
        <div class="md-title">{{ establishment.nome }}</div>
        <div class="md-subhead">{{ establishment.tipo }}</div>
      </md-card-header-text>

      <md-card-media class="card-media-image">
        <md-icon style="font-size: 44pt !important;">store</md-icon>
      </md-card-media>
    </md-card-header>

    <md-card-content v-show="showInputPassword">
      <form @submit.prevent="validateEstablishment">
        <md-field :class="getValidationClass('senha')">
          <label for="senha">Senha</label>
          <md-input id="senha" name="senha" v-model="form.senha"></md-input>
          <span class="md-error" v-if="!$v.form.senha.required">Digite sua senha.</span>
        </md-field>
      </form>
    </md-card-content>

    <md-card-actions>
      <md-button class="md-accent" @click="removeBackupEstablishment">Remover</md-button>
      <md-button class="md-primary" @click="showInputPassword = !showInputPassword, form.senha = ''" v-if="form.senha.length === 0">{{ showInputPassword ? 'Fechar' : 'Entrar' }}</md-button>
      <md-button class="md-primary" @click="validateEstablishment" v-if="form.senha.length !== 0">Entrar</md-button>
    </md-card-actions>
  </md-card>
</template>

<script>
import EstablishmentConstants from './../../contants/Establishment'

import { validationMixin } from 'vuelidate'
import {
  required,
  email,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  data () {
    return {
      showInputPassword: false,
      form: {
        senha: ''
      }
    }
  },

  validations: {
    form: {
      senha: required
    }
  },

  computed: {
    establishment () {
      return this.$store.getters['backupEstablishment/backup'] || null
    }
  },

  methods: {
    removeBackupEstablishment () {
      this.$store.commit('backupEstablishment/removeBackup')
      location.reload()
    },

    toggleShowInputPassword () {

    },

    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
      }
    },

    validateEstablishment () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.authLogin()
      }
    },

    authLogin () {
      alert(this.form.senha)
    }
  },

  mounted () {
    
  }
}
</script>

<style lang="scss" scoped>
.button-remove-establishment {
    color: #F44336 !important;
  }

.backup-establishment {
  // background-color: #FAFAFA;
  margin-bottom: 16px;
}

.card-media-image {
  display: flex;
  align-items: center;
}
</style>
