<template>
  <div class="section-login">
    <div class="md-layout container">
      <div class="md-layout-item md-size-100">
        <CardBackupRemember></CardBackupRemember>
      </div>

      <md-content class="area-login md-elevation-1 md-layout-item md-size-100">
        <h1 class="md-display-1 text-center">DelApp</h1>
        <p class="md-subheading text-center">Entrar</p>

        <form @submit.prevent="validateEstablishment" class="form-login">
          <md-field :class="getValidationClass('email')">
            <label for="email">E-mail</label>
            <md-input name="email" id="email" autocomplete="email" type="email" v-model="form.email"></md-input>
            <span class="md-error" v-if="!$v.form.email.required">Digite seu e-mail.</span>
            <span class="md-error" v-if="!$v.form.email.email">E-mail com formato inválido.</span>
          </md-field>

          <md-field :class="getValidationClass('senha')">
            <label for="password">Senha</label>
            <md-input name="password" id="password" autocomplete="password" type="password" v-model="form.senha"></md-input>
            <span class="md-error" v-if="!$v.form.senha.required">Digite sua senha.</span>
          </md-field>

          <div class="md-layout md-alignment-center-right">
            <span class="message-error" v-if="errorApi">{{ errorApi }}</span>
            <md-progress-spinner :md-diameter="30" v-show="loader" :md-stroke="4" md-mode="indeterminate"></md-progress-spinner>
            <md-button :md-ripple="false" class="md-raised md-primary" type="submit">Entrar</md-button>
          </div>
        </form>
        

        <div class="area-actions">
          <!-- criar nova conta -->
          <router-link :to="{name: 'estabelecimentoCadastrar'}">Criar nova conta</router-link>

          <!-- link esqueceu a senha -->
          <a href="javascript:void(0)" @click="remember_password.active = !remember_password.active">Esqueceu a senha?</a>
        </div>


      <md-dialog-prompt
        :md-active.sync="remember_password.active"
        v-model="remember_password.value"
        md-title="Gerar nova senha"
        md-input-maxlength="30"
        md-input-placeholder="Escreva seu e-mail"
        md-confirm-text="Gerar"
        md-cancel-text="Cancelar" />
      </md-content>

    </div>
  </div>
</template>

<script>
import CardBackupRemember from './CardBackupRemember'

import { validationMixin } from 'vuelidate'
import {
  required,
  email,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'
import Delapp from '../../services/Delapp';

export default {
  mixins: [validationMixin],
  components: {
    CardBackupRemember
  },
  data () {
    return {
      form: {
        email: "",
        senha: ""
      },
      remember_password: {
        active: false,
        value: ""
      },
      loader: false,
      errorApi: ''
    }
  },

  validations: {
    form: {
      email: {
        required,
        email
      },
      senha: {
        required
      }
    }
  },

  methods: {
    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },

    validateEstablishment () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.authEstablishment()
      }
    },

    authEstablishment () {
      this.loader = true
      this.errorApi = ''
      
      this.$http.post(Delapp.URL_PATH_ESTABLISHMENT_AUTH, this.form)
        .then(data => {
          this.loader = false
          this.$store.commit('backupEstablishment/backup', data.body)
          this.$store.commit('backupEstablishment/setLogged', true)
          this.$router.push({name: 'adminEstabelecimento'})
        },
        error => {
          this.loader = false
          this.errorApi = error.body.message
        })
        .catch(console.error)
    }
  }
}
</script>

<style lang="scss" scoped>
  .section-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

  .container {
    width: 500px;
    margin-top: 10px;
  }

  .area-login {
    padding: 0 20px;
  }

  .text-center {
    text-align: center;
  }

  // form-login
  .form-login {
    
  }

  .button-login {
    width: 100%;
    margin: 10px 0;
    background-color: #FFB300 !important;
  }


  // actions
  .area-actions {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
</style>


