<template>
  <div class="section-entrega-aceita md-content">
    <h3 class="md-display-2">Entrega em andamento</h3>

    <span>Número de pedidos para entregar: {{ listDeliveryAccepted.length }}</span>

    <div class="md-divider"></div>

    <div v-for="(delivery, index) of listDeliveryAccepted">
      <!--<pre>{{ delivery.establishment }}</pre>-->
      <div class="area-info-estabelecimento">
        <h3 class="md-title">Estabelecimento</h3>
        <p class="md-body-1">{{ delivery.establishment.nome }}</p>
        <!--contato-->
        <!--<p class="md-body-1">{{ delivery.establishment.contacts }}</p>-->
        <div v-if="delivery.establishment.contacts.celular != null" class="area-info-contato">
          <p class="md-body-1">{{ delivery.establishment.contacts.celular }} - <span class="md-body-2" v-if="delivery.establishment.contacts.whatsapp != null">Este número é whatsapp</span></p>
          <p class="md-body-1">
            Tente ligar
            <span v-if="delivery.establishment.contacts.whatsapp != null">
              ou chamar no WhatsApp
            </span>
            apenas entre: {{ delivery.establishment.contacts.minimo_horario_receber_chamada }} e {{ delivery.establishment.contacts.maximo_horario_receber_chamada }}</p>
        </div>
        <div v-else>
          <p class="md-body-2">Sem informações de contato</p>
        </div>

        <!--endereço-->
        <div class="area-info-endereco">
        <!--<p class="md-body-1">{{ delivery.establishment.addresses }}</p>-->
          <p class="md-body-1">{{ delivery.establishment.addresses.street }}, {{ delivery.establishment.addresses.number }} - {{ delivery.establishment.addresses.neighborhood }} - {{ delivery.establishment.addresses.city }} - {{ delivery.establishment.addresses.state }}</p>
          <a @click="openMap(delivery)" class="">Abrir no mapa</a>
        </div>

        <p class="text-warning" v-if="delivery.status === 'entregador_aceitou'">Você deve ir até o local do estabelecimento para pegar a mercadoria do cliente</p>
      </div>

      <!--endereço de entrega-->
      <div v-if="delivery.status === 'entregador_a_caminho'" class="area-info-endereco-entrega">
        <!--<div>{{ delivery.client }}</div>-->
        <h3 class="md-title">Informações de entrega</h3>
        <div v-if="delivery.clientId != null">
          <!--endereço-->
          <p class="md-body-2">Cliente: <span class="md-body-1">{{ delivery.client.nome }}</span></p>
          <div class="area-info-endereco">
            <!--<p class="md-body-1">{{ delivery.establishment.addresses }}</p>-->
            <p class="md-body-1">{{ delivery.client.addresses.street }}, {{ delivery.client.addresses.number }} - {{ delivery.client.addresses.neighborhood }} - {{ delivery.client.addresses.city }} - {{ delivery.establishment.addresses.state }}</p>
          </div>

          <!--contato-->
          <!--<p class="md-body-1">{{ delivery.establishment.contacts }}</p>-->
          <div v-if="delivery.client.contacts.celular != null" class="area-info-contato">
            <p class="md-body-1">{{ delivery.client.contacts.celular }} - <span class="md-body-2" v-if="delivery.client.contacts.whatsapp != null">Este número é whatsapp</span></p>
            <p class="md-caption">
              Tente ligar
              <span v-if="delivery.client.contacts.whatsapp != null">ou chamar no WhatsApp</span>
              apenas entre:
              <strong>{{ delivery.client.contacts.minimo_horario_receber_chamada }}</strong> e
              <strong>{{ delivery.client.contacts.maximo_horario_receber_chamada }}</strong>
            </p>
          </div>
          <div v-else>
            <p class="md-body-2">Sem informações de contato</p>
          </div>
        </div>
        <div v-else>
          não tem cliente cadastrado mas tem que ter endereço
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import Delapp from './../../../services/Delapp'
export default {
  data: () => ({
    deliverymanId: '5a615c5fa7bd082270002194',
    listDeliveryAccepted: []
  }),

  methods: {
    getCurrentLocation (callback) {
      navigator.geolocation.getCurrentPosition(success => {
        callback(success.coords)
      }, (error) => console.error('erro ao capturar localização: ', error))
    },

    openMap (delivery) {
      let hostMaps = 'https://www.google.com/maps/dir/'
      // let addressStart = `${delivery.establishment.addresses.number}+${delivery.establishment.addresses.street}+${delivery.establishment.addresses.neighborhood}+${delivery.establishment.addresses.city}+${delivery.establishment.addresses.state}`
      let addressDestine = `${delivery.client.addresses.number}+${delivery.client.addresses.street}+${delivery.client.addresses.neighborhood}+${delivery.client.addresses.city}+${delivery.client.addresses.state}`

      this.getCurrentLocation(coords => {
        let addressStart = `${coords.latitude},${coords.longitude}`
        let linkMap = hostMaps+addressStart+'/'+addressDestine+'/'

        window.open(linkMap, "newwin")
      })

    }
  },

  created () {
    let params = '?orWhere=status:entregador_aceitou,status:entregador_a_caminho&relations=establishment,client'
    this.$http.get(Delapp.URL_PATH_DELIVERYMAN_ORDERS(this.deliverymanId) + params)
      .then(data => {
        console.log('resposta api: ', data.body)
        this.listDeliveryAccepted = data.body
      })
      .catch(error => console.error('erro ao buscar entregas em andamento: ', error.body))
  }
}
</script>

<style lang="scss" scoped>
  .section-entrega-aceita {
    margin: 0 26px;
  }

  .area-info-endereco,
  .area-info-contato {
    margin-top: 20px;
  }

  .text-warning {
    color: orange;
    font-weight: bold;
  }
</style>
