<template>
    <div class="section-lista">
      <h3 class="md-display-1">Entregas nas mediações</h3>

      <div class="md-layout md-alignment-center-space-between">
        <md-card class="md-layout-item md-size-30 item-entrega" v-for="(delivery, index) of listDelivery" :key="index">
          <md-card-header>
            <div class="md-title">{{ delivery.establishment.nome }}</div>
          </md-card-header>

          <md-card-content>
            <md-list>
              <md-subheader>Detalhes</md-subheader>
              
              <div class="md-layout md-alignment-center-justify-content">
                <md-list-item class="md-layout-items md-size-50" title="Quantidade de itens para entrega">
                  <md-icon>assignment</md-icon>
                  <div class="md-list-item-text">
                    <span>{{ delivery.items.length }}</span>
                  </div>
                </md-list-item>

                <md-list-item class="md-layout-items md-size-50" title="Distância do local da entrega">
                  <md-icon>location_on</md-icon>
                  <div class="md-list-item-text">
                    <span>{{ delivery.distanceToDestine }}</span>
                  </div>
                </md-list-item>

                <md-list-item class="md-layout-items md-size-50" title="Frete a receber">
                  <md-icon>account_balance_wallet</md-icon>
                  <div class="md-list-item-text">
                    <span>R$ {{ delivery.deliveryPrice }}</span>
                  </div>
                </md-list-item>

                
              </div>
            </md-list>
          </md-card-content>

          <md-card-actions>
            <!-- <md-button>Action</md-button> -->
            <md-button @click="acceptOrder(delivery)">Aceitar</md-button>
          </md-card-actions>
        </md-card>

        <md-dialog-alert
          :md-active.sync="modal.toggle"
          :md-title="modal.title"
          :md-content="modal.content" />
      </div>
    </div>
</template>

<script>
  import Delapp from './../../../services/Delapp'

    export default {
      data: () => ({
        listDelivery: [],
        modal: {
          toggle: false,
          title: '',
          content: ''
        },
        deliverymanId: '5a615c5fa7bd082270002194' // usando este id fixo por enquanto
      }),
      
      methods: {
        setModal (toggle, title, content) {
          this.modal.title = 'Ops!'
          this.modal.content = content
          this.modal.toggle = true
        },

        acceptOrder (delivery) {
          console.log('entrega: ', delivery._id)
          this.$http.post(Delapp.URL_PATH_DELIVERYMAN_ORDERS_ACCEPT(this.deliverymanId, delivery._id))
            .then(data => {
              console.log('resposta aceitar pedido: ', data.body)
              this.$router.push({name: 'adminEntregadorEntregaAceita'})
            })
            .catch(error => {
              console.error(error.body.message)
              this.setModal(true, 'Ops!', error.body.message)
            })
        }
      },
      
      created () {
        let params = '?relations=establishment&fields=items,deliveryPrice,distanceToDestine,establishmentId&where=status:pendente'

        this.$http.get(Delapp.URL_PATH_DELIVERYMAN_ORDERS(this.deliverymanId)+params)
          .then(data => {
            console.warn('resultado dos pedidos: ', data.body)
            this.listDelivery = data.body
          })
          .catch(error => console.error('erro na chamada dos pedidos: ', error))
      }
    }
</script>

<style lang="scss" scoped>
  .section-lista {
    margin: 0 26px;
  }

  .item-entrega {
    margin-bottom: 16px;
    padding: 0 16px;
  }
</style>
