<template>
  <div id="app">
    <main>
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </main>
  </div>
</template>


<script>

export default {
  name: 'app',
  watch: {
    $route (change) {
      this.$store.commit('analytics/saveCurrentUrl', change.path)
    },
  },

  created () {
    // router middleware
    const routeNameNotAllowLogged = ['estabelecimentoEntrar', 'estabelecimentoCadastrar']

    this.$router.beforeEach((to, from, next) => {
      if (this.$store.getters['backupEstablishment/logged'] == "true" && routeNameNotAllowLogged.indexOf(to.name) !== -1) next({name: 'adminEstabelecimento'})
      next()
    })
  },

  mounted () {
    this.$on('analytics', () => {
      console.log("analytics listen")
    //   ga('set', 'page', location.href)
    // ga('send', 'pageview')
    })
  }
}
</script>


<style lang="scss">
.fade-enter-active, .fade-leave-active {
  transition-duration: .3s;
}
.fade-enter-active {
  transition-delay: .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  margin-top: 50px;
  opacity: 0;
}
</style>
